body {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 50%;
        margin-left: 4%;

        font-family: "Times New Roman", Times, sans-serif;
      }
img {
      width: 30%
    }

@media screen and (max-width: 800px){
  body{
    margin-right: 4%;
  }

}
