html {
  background: url(photos/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
        width: 575px;
        font-family: "Courier New", Courier, monospace;
        background: gainsboro;

        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 40px;

      }

img {
      width: 30%;
      border: 1px solid dimgray;
      box-shadow: 1px 2px dimgray;
    }

.text {
        background: white;

        padding-top: 1px;
        padding-left: 20px;
        padding-right: 20px;

        border: 1px solid dimgray;
        box-shadow: 7px 10px darkgray;
}



@media screen and (max-width: 800px){
  body{
        width: 100%;
        height: 100%;

        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
  }

  .text{

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;

    box-shadow: none;
  }

}
