
#sketch-holder {
    position: relative;

}

#text-top {
    position: absolute;
    height: 50;
    top: 5%;
    left: 25%;

    background-color: black;

    font-size:48px;
    font-family: monospace;
    color: white;
}

#text-bottom {
    position: absolute;
    bottom: 5%;
    left: 25%;

    font-size:48px;
    font-family: monospace;
    color: white;

}

#audio-player {
    position: absolute;
    bottom: 4%;
    left: 37%;

    font-size:48px;
    font-family: monospace;
    color: white;



}
